{{define "bandejaDeEntrada"}}

<div class="contenedor-bandejaEntrada">
  <button
    type="button"
    class="btn-nuevo btn-bandejaEntrada"
    title="Bandeja de entrada"
    id="botonBandejaEntrada"
  >
    <img src="/static/img/bandejaDeEntrada.webp" alt="Bandeja de entrada" />
  </button>

  <div class="bandejaDeEntrada oculto" id="bandejaEntrada">
    <div class="bandejaDeEntrada-header">
      <h3>Notificaciones</h3>
    </div>

    <div class="bandejaDeEntrada-contenido">
      <!-- Acá después van las notificaciones de la BD -->
      <p>No hay notificaciones nuevas</p>
    </div>
  </div>
</div>

<script>
  const botonBandejaEntrada = document.getElementById("botonBandejaEntrada");
  const bandejaDeEntrada = document.getElementById("bandejaEntrada");

  botonBandejaEntrada.addEventListener("click", () => {
    bandejaDeEntrada.classList.toggle("oculto");
  });
</script>

{{end}}
