{{define "base"}}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <head>
      <link rel="icon" type="image/png" href="../static/img/favico.ico" />
      <link rel="shortcut icon" href="../static/img/favico.ico" />
    </head>
    <title>CobrApp</title>
  </head>
  <body>
    <header class="cover">
      <div>
        <h1>CobrApp</h1>
      </div>
    </header>

    <main class="libro">{{block "contenido" .}}{{end}}</main>
  </body>
</html>
{{end}}
