{{define "contenido"}} {{if .Error}}
<div class="toolbar">
  <span class="saldo debe">{{.Error}}</span>
</div>
{{end}}

<form method="POST" action="/cliente_nuevo" class="toolbar">
  <div class="search-box">
    <input
      type="text"
      id="nombre"
      name="nombre"
      placeholder="Nombre/s"
      autocomplete="off"
      required
    />
  </div>
  <div class="search-box">
    <input
      type="text"
      id="apellido"
      name="apellido"
      placeholder="Apellido/s"
      autocomplete="off"
      required
    />
  </div>
  <div class="search-box">
    <input
      type="tel"
      id="telefono"
      name="telefono"
      placeholder="Teléfono (opcional)"
      autocomplete="off"
    />
  </div>
  <div class="search-box">
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Email (opcional)"
      autocomplete="off"
    />
  </div>
  <button class="btn-nuevo" type="submit">+Agregar</button>
  <button class="btn-nuevo" type="button" onclick="location.href = '/'">
    -Cancelar
  </button>
</form>
{{end}}
