{{define "acciones-header"}}
<p></p>
{{end}} {{define "contenido"}}
<div class="login-wrap">
  {{if .Error}}
  <p
    class="saldo debe mensaje-error"
    id="error-login"
  >
    {{.Error}}
  </p>
  {{end}}

  <form method="POST" action="/login" class="form-cliente">
    <p class="texto-centrado-bold">INICIAR SESION</p>

    <input
      type="text"
      id="usuario"
      name="usuario"
      placeholder="Usuario"
      required
      autofocus
      autocomplete="username"
    />

    <input
      type="password"
      id="password"
      name="password"
      placeholder="Contraseña"
      required
    />

    <button type="submit" class="btn-nuevo btn-ingresar">Ingresar</button>
  </form>
</div>

<script>
  const error = document.getElementById("error-login");
  if (error) {
    setTimeout(() => {
      error.style.display = "none";
    }, 5000);
  }
</script>

{{end}}