{{define "contenido"}}
<main class="libro">
  <a href="/clientes/{{.Pago.ClienteID}}" class="btn-cancelar btn-volver"
    >&larr; Volver a la ficha</a
  >

  <!--ACA AGREGAR MANEJO DE ERRORES-->

  <form
    method="POST"
    action="/pago/{{.Pago.ID}}/modificar"
    class="form-cliente"
  >
    <label for="monto">Total</label>
    <input
      type="text"
      inputmode="decimal"
      id="monto"
      name="monto"
      class="input-moneda"
      placeholder="0,00"
      autocomplete="off"
      value="{{.Pago.Monto}}"
      required
      autofocus
    />

    <label for="observacion">Observación</label>
    <input
      type="text"
      id="observacion"
      name="observacion"
      placeholder="Ej: Pago parcial en efectivo"
      value="{{.Pago.Observacion}}"
    />

    <div class="form-acciones">
      <button type="submit" class="btn-nuevo btn-pagar">Modificar cobro</button>
      <button
        class="btn-nuevo"
        type="button"
        onclick="location.href = '/clientes/{{.Pago.ClienteID}}'"
      >
        Cancelar
      </button>
    </div>
  </form>
</main>
{{end}}
