{{define "contenido"}}
<div class="form-contenedor-estrecho">
  {{if .Error}}
  <p id="form-error" class="saldo debe mensaje-error">{{.Error}}</p>
  {{end}}

  <form
    method="POST"
    action="/clientes/{{.Cliente.ID}}/editar"
    class="form-cliente form-grid"
  >
    <input
      type="text"
      id="nombre"
      name="nombre"
      placeholder="Nombre/s"
      value="{{.Cliente.Nombre}}"
      autocomplete="off"
      required
    />
    <input
      type="text"
      id="apellido"
      name="apellido"
      value="{{.Cliente.Apellido}}"
      placeholder="Apellido/s"
      autocomplete="off"
      required
    />

    <input
      type="tel"
      id="telefono"
      name="telefono"
      value="{{.Cliente.Telefono}}"
      placeholder="Teléfono (opcional)"
      autocomplete="off"
    />
    <input
      type="email"
      id="email"
      name="email"
      value="{{.Cliente.Email}}"
      placeholder="Email (opcional)"
      autocomplete="off"
    />

    <div class="form-acciones">
      <button
        class="btn-cancelar"
        type="button"
        onclick="location.href = '/clientes/{{.Cliente.ID}}'"
      >
        Cancelar
      </button>
      <button class="btn-nuevo" type="submit">
        Guardar Cambios
      </button>
    </div>
  </form>
</div>
{{end}}